
h1, h2, h3,{
    font-family: Georgia;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 14px;   
}
p, ol, ul{
    font-size: 16px;
    font-family: calibri;
}
section{
    padding: 10px;

}